body{
  height: 100vh;
  width: 100%;
  margin: 0;
}


.nav{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  height: 10%;
  width: 100%;
  top: 0;
  z-index: 1;
}

.line{
  display:flex;
  background-color: #ffffff;
  position: fixed;
  height: 9.99%;
  width: 90%;
  top: 0;
  z-index: -1;
  margin-left: 5%;
  border-bottom: 1px solid grey;
}

.nav a{
  font-size: 12pt;
  text-decoration: none;
  padding-right: 2%;
  color: #252525;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: bold;
}

a:visited{
  color: #252525;
}

a:hover{
  color: #ff5000;
}


.logo h1{
  font-size: 15pt;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-style: italic;
}

h2{
  font-size: 18pt;
  line-height: 25%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black;
}

h3{
  font-size: 15pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  display: inline-block;
  font-style: italic;
  color: #ff5000;
}

.logo{
  margin-top: 0.25%;
  float: left;
  padding-left: 5%;
  width: 50%;
}

.navigation{
    float: right;
    padding-top: 1.75%;
    width: 40%;
    text-align: right;
    padding-right: 5%;
 }

#home-info{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url("images/accessibility3.svg");
  background-position: bottom;
  width: 100%;
  height: 95%;
  padding: 0;
}

.home-title{
  bottom: 40%;
  margin-left: 5%;
  width: 25%;
  height: 5%;
}

.home-title p{
  line-height: 0%;
  font-size: 15pt;
  text-decoration: none;
  padding-right: 2%;
  font-family: 'Montserrat', sans-serif;
  color: #ff5000;
  font-weight: 200;
}

.home-blurb{
  display: flex;
  align-items: center;
  margin-left: 5%;
  width: 50%;
  height: 25%;
}

.home-blurb h1 {
  margin: 0;
  font-size: 35pt;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
  line-height: 100%;
}

.home-blog-button{
  margin-left: 5%;
  margin-bottom: 2.5%;
  width: 15%;
  height: 7.5%;
}

.home-blog-button a {
  line-height: 0;
  font-size: 15pt;
  text-decoration: none;
  padding-right: 2%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-style: italic;
  font-weight: bold;
}

.home-blog-button a:visited{
  color: #999999;
}

.home-blog-button a:hover{
  color: #ff5000;
}

#blog-posts{
  padding-top: 5%;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.posts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  height: 85%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.post-header{
  padding-left: 0.5%;
  height: 7.5%;
  width: 100%;
  margin-bottom: 0.25%;
}

.post-wrap{
  display: flex;
  width: 100%;
  height: 90%;
}

.post-half{
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}

.post-link{
  width: 50%;
  height: 95%;
  display: flex;
  flex-direction: column;
  margin-right: 2.5%;
  margin-left: 0.5%;
  border-top: 1px solid black;
}

.post-image{
  margin-top: 10%;
  float: left;
  width: 100%;
  height: 40%;
}

.post-date{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 15%;
  margin-top: 5%;
}

.post-title{
  margin-top: 1%;
  width: 100%;
  height: 25%;
}

.post-moreinfo{
  display: flex;
  float: left;
  width: 100%;
}

.post-date p{
  font-size: 12pt;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #505050;
  font-weight: 200;
}

.post-title h1 {
  margin: 0;
  font-size: 20pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 100%;
}

.post-moreinfo a {
  line-height: 0;
  font-size: 12pt;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #505050;
  font-style: italic;
  font-weight: bold;
}


.post-moreinfo a:visited{
  color: #252525;
}

.post-moreinfo a:hover{
  color: #ff5000;
}

.page-post{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 250vh;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.flex-post{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 125vh;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.page-title{
  display: flex;
  align-items: flex-start;
  height: 10%;
  width: 100%;
  border-bottom: 1px solid black;
}

.page-title h1{
  font-size: 30pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 0;
}

.page-image{
  width: 50%;
  height: 100%;
}

.page-paragraph{
  margin-top: 10%;
  width: 80%;
  height: 77%;
  margin-left: auto;
  margin-right: auto;
}

.page-paragraph p{
  line-height: auto;
  font-size: 14pt;
  text-decoration: none;
  padding-right: 2%;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 400;
}

.page-paragraph a{
  line-height: 0;
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
  color: #ff5000;
  font-weight: 400;
}

.flex-paragraph{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}

.flex-paragraph p{
  line-height: auto;
  font-size: 14pt;
  text-decoration: none;
  padding-right: 2%;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 400;
}

.flex-paragraph a{
  line-height: 0;
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
  color: #ff5000;
  font-weight: 400;
}

.post-header{
  height: 7.5%;
  width: 100%;
  margin-bottom: 0.25%;
}

.image-wrap{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35%;
  margin-top: 2.5%;
}

.page-date{
  margin-top: 10%;
  padding-top: 1%;
  float: left;
  width: 100%;
  height: auto;
  border-top: 5px solid black;
}

.page-date p{
  line-height: 0%;
  font-size: 15pt;
  text-decoration: none;
  padding-right: 2%;
  font-family: 'Montserrat', sans-serif;
  color: #505050;
  font-weight: 200;
}


.flexbox-post{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 150%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}


.page-image{
  margin-top: 2.5%;
  width: 100%;
  height: 25%;
  background-image: url("images/accessibility.svg");
  margin-left: auto;
  margin-right: auto;
}

.game-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.15%;
  text-align: center;
  width: 80%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
}

button{
  font-family: 'Montserrat', sans-serif;
}

#recordClicks{
  height: 5%;
}

#closeness{
  height: 5%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #ff5000;
}


.game-post{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.reset{
  padding-bottom: 1.5%;
}

@media (max-width: 1200px){
  body{
    height: 100vh;
    width: 100%;
  }

  .page-post{
    height: 225%;
  }

  .game-post{
    height: 100%;
  }

  .page-paragraph{
    margin-top: 10%;
  }

  #blog-posts{
    padding-bottom: 5%;
  }

  .page-title{
    width: 100%;
    height: 20%;
  }
}

@media (max-width: 1050px){
  body{
    height: 100vh;
    width: 100%;
  }

  #home-info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 97.5%;
    width: 101%;
  }

  .home-blurb{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  .post-moreinfo{
    margin-top: 10%;
  }

  .post-image{
    height: 30%;
  }

  .page-post{
    height: 225%;
  }

  .post-date{
    margin-top: 5%;
  }

  .page-date{
    margin-top: 12.5%;
    padding-top: 2.5%;
  }

  .page-title{
    height: 10%;
    width: 100%;
  }

  .page-title h1{
    line-height: auto;
  }

  .page-image{
    margin-top: 2.5%;
  }

  .page-paragraph{
    margin-top: 5%;
    height: 50%;
    margin-bottom: 5%;
  }

  .page-paragraph p{
    font-size: 11pt;
  }

  .page-paragraph a{
    font-size: 10pt;
  }

  .flex-post .page-title{
    height: 25%;
  }

  .flex-paragraph{
    align-items: flex-end;
    margin-top: 25%;
    height: 100%;
    margin-bottom: 5%;
  }

  .flex-paragraph p{
    font-size: 11pt;
  }

  .flex-paragraph a{
    font-size: 10pt;
  }

  .game-post{
    height: 100%;
    width: 90%;
  }

  .game-box{
    height: 100%;
  }

  #blog-posts{
    padding: 0;
    margin-bottom: 5%;
  }

  .image-wrap{
    height: 15%;
  }
}

@media (max-width: 850px){
  body{
    height: 100vh;
    width: 100%;
  }

  .nav{
    height: 10%;
    width: 100%;
  }

  .nav a{
    font-size: 10pt;
    margin-left: 2%;
  }

  .line{
    height: 9.85%;
  }

  .navigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0;
  }

  h3{
    font-size: 12pt;
  }

  .logo{
    display: flex;
    align-items: center;
  }

  .logo h1{
    font-size: 12pt;
  }

  #home-info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 97.5%;
    width: 101%;
  }

  .home-title{
    display: flex;
    align-items: flex-end;
    margin-left: 5%;
    width: 50%;
  }

  .home-blurb{
    display: flex;
    align-items: flex-start;
    height: 20%;
    width: 75%;
    margin-left: 5%;
  }

  .home-blurb h1{
    font-size: 30pt;
  }

  .home-blog-button{
    width: 50%;
    margin-left: 5%;
  }

  #blog-posts{
    display: flex;
    align-items: center;
    padding: 0;
    width: 101%;
    height: 150%;
    margin-bottom: 5%;
  }

  .post-header{
    display: flex;
    align-items: flex-end;
  }

  .post-wrap{
    display: flex;
    flex-direction: column;
  }

  .post-half{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
  }

  .post-link{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 1px solid black;
  }

  .post-title{
    display: flex;
    height: 30%;
  }

  .post-title h1{
    font-size: 15pt;
  }

  .post-date{
    margin-top: 5%;
  }

  .post-date p{
    font-size: 12pt;
  }

  .post-image{
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    height: 100%;
  }

  .post-image img{
    width: auto;
    height: 100%;
  }

  .post-moreinfo{
    margin-bottom: 5%;
    margin-top: 0;
  }

  .game-post{
    height: 125%;
    margin-top: 2.5%;
  }

  .flex-post{
    height: 125%;
    margin-top: 2.5%;
  }

  .page-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 10%;
    margin: 0;
  }

  .page-date{
    margin-top:10%;
    padding-top: 2.5%;
  }

  .page-date p{
    font-size: 15pt;
  }

  .game-box{
    height: 50%;
    width: 75%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .game-box p{
    margin: 0;
  }

  .input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    height: 12.5%;
    width: 100%;
  }

  button{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .page-post{
    height: 225%;
  }

  .page-paragraph p{
    font-size: 12pt;
  }

  .page-paragraph a{
    font-size: 12pt;
  }
}

@media (max-width: 750px){
  .page-paragraph p{
    font-size: 10.5pt;
  }

  .page-title{
    height: 10%;
  }

  .page-date{
    margin-top: 5%;
  }

  .page-paragraph a{
    font-size: 9.5pt;
  }

  #blog-posts{
    margin-bottom: 0;
  }

  .page-post{
    margin-top: 10%;
    height: 225%;
  }

  .flex-post{
    margin-top: 10%;
    height: 100%;
  }

  .game-post{
    height: 150%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .game-box{
    height: 50%;
  }
}

@media (max-width: 600px){
  .logo  h1{
    font-size: 8pt;
  }

  h3{
    font-size: 8pt;
  }

  .navigation a{
    font-size: 8pt;
  }

  .home-blurb h1{
    font-size: 25pt;
  }

  .home-title p{
    font-size: 15pt;
  }

  .home-blog-button p{
    margin-top: 10%;
    font-size: 12pt;
  }

  .post-half{
    flex-direction: column;
  }

  .post-link{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
  }

  .post-date{
    height: 20%;
  }

  .post-image{
    display: none;
  }

  .page-image{
    height: 20%;
    margin-bottom: 15%;
  }

  .page-date{
    margin-top: 10%;
  }

  .page-post{
    height: 200%;
  }

  .flex-post{
    margin-top: 7.5%;
    height: 200%;
  }

  .page-title{
    height: 12.5%;
  }

  .page-paragraph{
    margin-top: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40%;
  }

  .flex-paragraph{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .page-paragraph p{
    font-size: 9.5pt;
  }

  .image-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 55%;
  }

  .game-post{
    margin-bottom: 20%;
  }

}

@media (max-width: 450px){

  .image-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15%;
  }

  .page-post{
    height: 250%;
  }

  .page-title{
    height: 15%;
  }

  .page-image{
    margin-bottom: 0;
  }

  .page-paragraph{
    height: 50%;
  }

  .game-post{
    height: 150%;
    margin-bottom: 0;
  }

  .game-box{
    height: 50%;
  }

  .flex-post{
    margin-top: 12.5%;
  }

  .image-wrap{
    height: 30%;
  }
}

@media (max-width: 375px){
  .page-post{
    height: 275%;
  }

  .page-title{
    height: 15%;
  }

  .page-paragraph p{
    font-size: 9.5pt;
  }

  .game-post{
    height: 150%;
    margin-bottom: 0;
  }

  .game-box{
    height: 60%;
  }

  .image-wrap{
    height: 20%;
  }
}
